---
import ContactCard from './ContactCard.astro';
import phoneSolidSvg from '../../images/phone-solid1.svg';
import mapRegularSvg from '../../images/mapRegular.svg';
import atSolidSvg from '../../images/atSolid.svg';
---
<div id="contact-options" class="flex justify-center my-10">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-10">
        <ContactCard image={phoneSolidSvg} h="Give Us A Call" text="Lorem Ipsum is simply dummy printing and typesetting."/>
        <ContactCard image={mapRegularSvg} h="Visit Our Place" text="Lorem Ipsum is simply dummy printing and typesetting."/>
        <ContactCard image={atSolidSvg} h="Send An Email" text="Lorem Ipsum is simply dummy printing and typesetting."/>
    </div>
</div>
