---
import Viewbutton from "./ViewButton.astro"
import { Image } from 'astro:assets';
const { title, description, image} = Astro.props;
import separatorSvg from '../../images/separator.svg';
---
<!-- TODO: Replace <img/> tags with <Image/> components -->
<div id="about" class="flex flex-col lg:flex-row justify-between items-center mt-36 mx-10">
    <div class="flex flex-col items-center justify-center my-10 w-full">
        <p class="text-xl font-bold tracking-widest mb-6">{title}</p>
        <Image src={separatorSvg} alt="Separator" class="w-28 mb-8" />
        <h2 class="text-4xl xl:text-5xl mb-8 text-white">Every Flavor Tells a Story</h2>
        <p class="text-justify text-lg w-96">
            {description}
        </p>
        <Viewbutton label="View Menu" />
    </div>
    <div class="my-10 w-full">
        <Image src={image} alt="Banner About" class="rounded-xl"/>
    </div>
</div>
