---
import { Image } from "astro:assets";
import separator from "../../images/separator.svg"
---
<div id="services" class="flex flex-col justify-center items-center mt-20">

    <!-- TODO: Replace all <img /> elements with <Image /> components (check video to see how to import local images) -->
    <!-- TODO: Implement <slot /> here -->
    <!-- TODO: Create a ServiceCard.astro component, which will be included directly inside index.astro -->
    <!-- <ServiceCard title="Breakfast" image="/images/service-1.jpg" /> -->
    <!-- <ServiceCard title="Appetizers" image="/images/service-2.jpg" /> -->
    <!-- <ServiceCard title="Drinks" image="/images/service-3.jpg" /> -->

    <div class="flex flex-col items-center justify-center max-w-sm xl:-mb-20">
        <p class="text-xl font-bold tracking-widest mb-4">Flavors For Royalty</p>
        <Image src={separator} class="w-28 mb-6" alt="separator" />
        <h2 class="text-4xl xl:text-5xl text-white">We Offer Top Notch</h2>
        <p class="text-lg text-center mt-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys
            standard dummy text ever.
        </p>
    </div>
    <div class="flex flex-col xl:flex-row justify-center items-center gap-8 mt-36">
    <slot />
    </div>
            <!-- Include a <slot /> element above the <figure> element inside the ServiceCard.astro component -->
            <!-- This will allow you to include this extra content -->
</div>
