---
const { label } = Astro.props;
import LinkButton from "../LinkBtn.astro"
---
<LinkButton href="/menu">
    <button class="mt-8 btn btn-outline btn-primary text-xl px-10">{label}</button>
</LinkButton>