---
const { label } = Astro.props;
import LinkButton from "../LinkBtn.astro"
---
<LinkButton href="/menu">
    <button class="mt-16 btn btn-outline btn-primary btn-wide text-xl">{label}</button>
</LinkButton>